In [81]:
class HashTable:
    def __init__(self) -> None:
        self.MAX = 100
        self.arr = [[] for i in range(self.MAX)]
        
    def get_hash(self, key) -> int:
        h = 0
        for char in key:
            h += ord(char)
        return h % self.MAX
        
    def __setitem__(self, key, val) -> None:
        h = self.get_hash(key=key)
        found = False
        for index, element in enumerate(self.arr[h]):
            if len(element) == 2 and element[0] == key:
                self.arr[h][index] = (key,val)
                found = True
                break
        if not found:
            self.arr[h].append((key,val))
    
    def __getitem__(self, key):
        h = self.get_hash(key=key)
        if len(self.arr[h]) > 1:
            for index, element in enumerate(self.arr[h]):
                if element[0] == key:
                    return element[1]
        return self.arr[h]
    
    def __delitem__(self, key):
        h = self.get_hash(key=key)
        if len(self.arr[h]) > 1:
            for index, element in enumerate(self.arr[h]):
                if element[0] == key:
                    del self.arr[h][index]
        else:
            del self.arr[h]

In [82]:
my_table = HashTable()

In [83]:
my_table["march 4"] = 4
my_table["march 5"] = 5
my_table["march 6"] = 6
my_table["march 7"] = 7
my_table["march 117"] = 117

In [84]:
my_table.arr

[[],
 [],
 [],
 [],
 [],
 [],
 [],
 [('march 4', 4)],
 [('march 5', 5), ('march 117', 117)],
 [('march 6', 6)],
 [('march 7', 7)],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 []]

In [85]:
del my_table["march 117"]

In [86]:
my_table.arr

[[],
 [],
 [],
 [],
 [],
 [],
 [],
 [('march 4', 4)],
 [('march 5', 5)],
 [('march 6', 6)],
 [('march 7', 7)],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 []]